<div class="row">

  <div class="col-md-4 col-md-offset-4">
    <div class="input-group input-group-lg text-center">
      <input type="text" class="form-control noto text-center" placeholder="search" ng-model="query">
    </div>

    <div class="list-group recipes ">
     <a href="#/recipes/{{recipe.id}}" class="list-group-item" ng-repeat="recipe in recipes | filter:query"><span class="name">{{recipe.name}}</span>
      <ul class="ingredients">      
        <li class="small" ng-repeat="ingredient in recipe.ingredients">
          <span class="noto">{{ingredient.ingredientName}}</span></ul>
        </li> </ul>
      </a>
    </div>
  </div>
</div>