<div class="row">

	<div class="col-md-4 col-md-offset-4">
		<h1 class="name">{{recipe.name}}</h1>
		<p class="small detailc">{{recipe.Description}}</p>
		<p class="noto">{{recipe.method}}</p>
		<p class="small detailc">{{recipe.glass}}<p>
			<ul><li ng-repeat="ingredient in recipe.ingredients">
				<span>{{ingredient.amount}} </span> <span>{{ingredient.amountUnits}}</span> <span>{{ingredient.ingredientName}}</span>
			</li> 
		</ul>
		<p class="small detailc">{{recipe.garnish}}</p>
		<a href="#/recipes"><i class="fa fa-arrow-left"></i></a>
	</div>
</div>
